.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3.2rem 2.4rem;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  background-color: var(--nav-bg-color);
}

.navbar__logo {
  width: 10rem;
}

.navbar__item {
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
}

.navbar__item:first-child {
  margin-right: 2.4rem;
}

.navbar__item--button {
  padding: 0.8rem 2.6rem;
  border-radius: 50px;
  background-color: var(--tertiary-color);
  transition: background-color 1s, color 1s;
}

.navbar__item--button:hover {
  background-color: var(--btn-link-bg-color);
  color: var(--btn-link-color);
}

@media screen and (min-width: 481px) {
  .navbar__logo {
    width: 16rem;
  }
  .navbar {
    flex-direction: row;
    padding: 1.2rem 1.6rem;
    gap: 0;
  }
  .navbar__item:last-child {
    margin-right: 2.4rem;
  }
}
